body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #3a3737; 
    overflow: hidden;

}
.calc_body{
    height:600px;
    width:370px;
    /* border: 1px solid black; */
    border-radius: 30px;
    background-color: #303030;
   
}

.display{
    /* border: 1px solid black; */
    border-radius: 10px;
    height:80px;
    width: 340px;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px; 
    padding-right: 5px;
    
}

.main_display{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.button{
    border: 0;
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 50%;
    background-color:#545955;
    color:white;
    font-size: 20px;
    
}
.button_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.equal_button{
    width: 156px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
}

.sub_display {
 font-size: 20px;
 display: flex;
 justify-content: flex-end;
 color: #11e299;

}